body {
	color: #252525;
	background-color: #d1e4ff;
	margin: 0;
}

.wysiwyg {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
	padding: 30px;
}

.wysiwyg table {
	width: 100%;
	border: 1px;
	border-style: solid;
	border-color: #b496b4;
	border-spacing: 0;
	border-collapse: collapse;
	font-family: roboto;
}

.wysiwyg tr {
	border: 1px solid #b496b4;
}

.wysiwyg td {
	padding-top: 9px;
	padding-bottom: 7px;
	padding-left: 7px;
	border: 1px;
	border-style: solid;
	border-color: #b496b4;
}

.wysiwyg th {
	padding-top: 9px;
	padding-bottom: 7px;
	text-align:center;
	border: 1px;
	border-style: solid;
	border-color: #b496b4;
	background-color: #eadcea;
}

.wysiwyg h1 {
	font-family: roboto;
	font-size: 42px;
	margin-top: 42px;
	margin-bottom: 42px;
	text-transform: uppercase;
}

.wysiwyg h2 {
	font-family: roboto;
	font-size: 36px;
	margin-top: 36px;
	margin-bottom: 36px;
	text-transform: uppercase;
}

.wysiwyg h3 {
	font-family: roboto;
	font-size: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
	text-transform: uppercase;
}

.wysiwyg h4 {
	font-family: roboto;
	font-size: 26px;
	margin-top: 26px;
	margin-bottom: 26px;
}

.wysiwyg h5 {
	font-family: roboto;
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.wysiwyg h6 {
	font-family: roboto;
	font-size: 16px;
	margin-top: 16px;
	margin-bottom: 16px;
}

.wysiwyg p {
	font-family: roboto;
	font-size: 16px;
	margin-top: 16px;
	margin-bottom: 16px;
}

.wysiwyg blockquote { 
	margin-left: auto;
	margin-right: auto;
    border-left: 2px solid #b496b4; /* Параметры линии */ 
    padding-left: 32px; /* Расстояние от линии до текста */ 
    background-color: #eadcea;
   }

.wysiwyg pre {
	font-family: roboto;
	font-style: italic;
	background-color: #f0e6d6; 
	padding-left: 14px;
	padding-top: 12px;
	padding-bottom: 9px;
}

.wysiwyg dt {
	font-family: roboto;
	font-weight: bold;
	font-style: italic;
}

.wysiwyg code,
.wysiwyg samp,
.wysiwyg kbd {
	padding: 1px 5px;
}

.wysiwyg code {
	background-color: #f0e6d6;
}

.wysiwyg samp {
	background-color: #eadcdc;
}

.wysiwyg kbd {
	background-color: #eadcea;
}