body {
	width: 980px;
}

table {
	width: 920px;
	border: 1px;
	border-style: solid;
	border-color: #b496b4;
	border-spacing: 0;
	border-collapse: separate;
	font-family: sans-serif;
}

tr {
	border: 1px;
	border-style: solid;
	border-color: #b496b4;
}



td {
	padding-top: 9px;
	padding-bottom: 7px;
	padding-left: 7px;
	border: 1px;
	border-style: solid;
	border-color: #b496b4;
}

.thead {
	padding-top: 9px;
	padding-bottom: 7px;
	text-align:center;
	border: 1px;
	border-style: solid;
	border-color: #b496b4;
	background-color: #eadcea;
}

.wysiwyg {
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	padding: 30px;
}

.wysiwyg-2 {
	width: 980px;
	margin-right: auto;
	margin-left: auto;
}

.wysiwyg-2 h1 {
	font-family: Arial, sans-serif;
	font-size: 42px;
	margin-top: 42px;
	margin-bottom: 42px;
}

.wysiwyg h1{
	font-family: Arial, sans-serif;
	font-size: 42px;
	margin-top: 42px;
	margin-bottom: 42px;
}

.wysiwyg h2{
	font-family: Arial, sans-serif;
	font-size: 36px;
	margin-top: 36px;
	margin-bottom: 36px;
}

.wysiwyg h3{
	font-family: Arial, sans-serif;
	font-size: 30px;
	margin-top: 30x;
	margin-bottom: 30px;
}

.wysiwyg h4{
	font-family: Arial, sans-serif;
	font-size: 26px;
	margin-top: 26px;
	margin-bottom: 26px;
}

.wysiwyg h5{
	font-family: Arial, sans-serif;
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.wysiwyg h6{
	font-family: Arial, sans-serif;
	font-size: 16px;
	margin-top: 16px;
	margin-bottom: 16px;
}

.wysiwyg p{
	font-family: Arial, sans-serif;
	font-size: 16px;
	margin-top: 16px;
	margin-bottom: 16px;
}

.line { 
    border-left: 2px solid #b496b4; /* Параметры линии */ 
    padding-left: 32px; /* Расстояние от линии до текста */ 
    background-color: #eadcea;
   }

.pre { 
	font-family: monospace;
	font-style: italic;
	padding-top: 12px;
	padding-bottom: 9px;
	padding-left: 14px;
	background-color: #f0e6d6; 
}

h3 {
	font-family: sans-serif;
	font-weight: bold;
}

dt {
	font-weight: bold;
	font-style: italic;
}